<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer-top flex-column">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="img/footer-logo.png" alt="">
                        </a>
                        <h4>Follow Me</h4>
                    </div>
                    <div class="footer-social">
                        <a class="footer-link" href="https://www.linkedin.com/in/onesimo-nyathi-877723a9/"
                           target="_blank"><i class="fa fa-linkedin-square"
                                              style="font-size:24px;color:#142d4c"></i></a>
                        <a class="footer-link" href="https://twitter.com/simosimao10" target="_blank"><i
                                class="fa fa-twitter" style="font-size:24px;color:#142d4c"></i></a>
                        <a class="footer-link" href="https://github.com/simonyathi1" target="_blank"><i
                                class="fa fa-github-square" style="font-size:24px;color:#142d4c"></i></a>
                        <p>&copy;<script>
                            document.write(new Date().getFullYear());
                        </script>
                            Onesimo Nyathi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                document.write(new Date().getFullYear());
            </script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
</nav>