<nav class="navbar fixed-bottom navbar-light bg-dark">
  <small id="sign_off">Developed by Onesimo Nyathi</small>
  <p>
    <a href="https://www.facebook.com/mro.nyathi" target="_blank"><i id="footer_icon" class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/1_c_mo/?hl=en" target="_blank"><i id="footer_icon" class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/simosimao10" target="_blank"><i id="footer_icon" class="fa fa-twitter"></i></a>
    <a href="https://github.com/simonyathi1" target="_blank"><i id="footer_icon" class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/onesimo-nyathi-877723a9/" target="_blank"><i id="footer_icon" class="fa fa-linkedin"></i></a>
  </p>
</nav>