<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/open.png" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Page</h1>
            <p>Hello, My Name is Simo. I am an Android and Web developer</p>
            <p>I use Nodejs, Expressjs to build back end and I use html, css, bootstrap, and javascript for front end</p>
            <br>
            <h4>View my CV</h4>
            <a href="/resume/Onesimo Nyathi CV November 2018.pdf">Download pdf<i class="fa fa-download"></i></a>
        </div>
    </div>
</div>