<div class="container">
    <h1>Education</h1>
    <ul class="list-unstyled">
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><b>Veritas College</b></h5>
                <h6>2009 - 2011</h6>
                <p>Matriculated with a BD pass</p>
                <small>Springs, Gauteng</small>
            </div>
        </li>
        <hr>
        <li class="media my-4">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><b>University of KwaZulu-Natal</b></h5>
                <h6>2011 - 2015</h6>
                <p>Bachelor's degree in Computer Science and IT</p>
                <small>Pietermaritzburg, KZN</small>
            </div>
        </li>
        <hr>
        <li class="media">
           <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><b>University of KwaZulu-Natal</b></h5>
                <h6>2015 - 2016</h6>
                <p>Honor's degree in Computer Science</p>
                <small>Pietermaritzburg, KZN</small>
            </div>
        </li>
    </ul>
</div>