<div id="homepage" class="container">
    <h1>Welcome to my Website</h1>
    <h3>Onesimo Nyathi</h3>
    <h4>Full stack Web and Android front end developer</h4>
    <p>If you need a website or Android App, feel free to <a href="/contact">contact me</a></p>
</div>