<!-- Start Preloader Area -->
<div class="preloader-area">
    <div class="loader-box">
        <div class="loader"></div>
    </div>
</div>
<!-- End Preloader Area -->


<!-- Start Header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="#"><img class="logo" src="/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a class="active" href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li class="menu-has-children"><a href="#">Pages</a>
                        <ul>
                            <!--                            <li><a href="elements.html">Elements</a></li>-->
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/services">Service</a></li>
                            <li><a href="/portfolio-details">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <!--<li class="menu-has-children"><a href="">Blog</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="home-banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center">
            <div class="banner-content col-lg-6 col-md-12 justify-content-center ">
                <div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">Hey there! It's</div>
                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Onesimo Nyathi</h1>
                <div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
                    Android Mobile App
                    <span class="developer">Developer</span>
                    and founder of
                    <a href="">
                        <span class="fideli">Fideli</span><span class="tech">Tech</span>
                    </a>
                </div>
                <a href="/contact" class="primary-btn" data-text="Hire Me">
                    <span>H</span>
                    <span>i</span>
                    <span>r</span>
                    <span>e</span>
                    <span> </span>
                    <span>M</span>
                    <span>e</span>
                </a>
            </div>
            <div class="banner-img col-lg-6 col-md-6 align-self-end">
                <img class="col-lg img-fluid" src="/img/banner-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start brands Area -->
<section class="brands-area">
    <div class="container">
        <div class="brand-wrap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/reverside.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/absa.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/dvt.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/Fidelitech.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/mukuru.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="img/brand/standard.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-left">
                <img class="col-lg img-fluid" src="/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                <div class="section-title">
                    <h2>So who am I?</h2>
                </div>
                <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
                    <p>
                        I am an Android app developer with a sizable amount of experience in the native development
                        field.
                        I have recently decided to venture into hybrid development with Flutter.
                        I am also an aspiring full stack Web developer.
                    </p>
                    <p>
                        I am an honors degree graduate from the University of Kwa-Zulu Natal South Africa.
                        I can't sing to save my life, but I make up for that on the football pitch.
                        I am not too bad with a pencil and recently picked up the paint brush for an outside-tech hobby.
                    </p>
                </div>
                <a href="/about" class="primary-btn white" data-text="More Info">
                    <span>M</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                    <span> </span>
                    <span>I</span>
                    <span>n</span>
                    <span>f</span>
                    <span>o</span>
                </a>
                <a href="/resume/Onesimo Nyathi CV.pdf" class="primary-btn" data-text="Resume"
                   target="_blank">
                    <span>R</span>
                    <span>e</span>
                    <span>s</span>
                    <span>u</span>
                    <span>m</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->


<!-- Start Work Area Area -->
<section class="work-area section-gap-top section-gap-bottom-90" id="work">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-end mb-80">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Latest Works</h2>
                    <p>Below is a list of some of the projects I have worked on. Most of them never saw light of day and
                        can be checked out from my <a href="https://github.com/simonyathi1" target="_blank">GitHub
                            Page</a></p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter=".all">All Categories</li>
                        <li data-filter=".android">Android Development</li>
                        <li data-filter=".web-development">Web Development</li>
                        <!--                        <li data-filter=".creative">Creative Work</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row grid">
                <div class="single-work col-lg-4 col-md-6 col-sm-12 all android wow fadeInUp" data-wow-duration="2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="/img/work/w1.jpg" alt="">
                        </div>
                        <div class="middle">
                            <h4>ScanAir for Android</h4>
                            <div class="cat">Personal Project</div>
                        </div>
                        <a class="overlay" href="/portfolio-details"></a>
                    </div>
                </div>
                <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-development wow fadeInUp"
                     data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="/img/work/w2.jpg" alt="">
                        </div>
                        <div class="middle">
                            <h4>This Website</h4>
                            <div class="cat">Personal Project</div>
                        </div>
                        <a class="overlay" href="/portfolio-details"></a>
                    </div>
                </div>
                <!-- <div class="single-work col-lg-4 col-md-6 col-sm-12 all android web-development wow fadeInUp"
                      data-wow-duration="2s" data-wow-delay="0.4s">
                     <div class="relative">
                         <div class="thumb">
                             <div class="overlay overlay-bg"></div>
                             <img class="image img-fluid" src="img/work/w3.jpg" alt="">
                         </div>
                         <div class="middle">
                             <h4>2D Vinyl Design</h4>
                             <div class="cat">Client Project</div>
                         </div>
                         <a class="overlay" href="portfolio-details.html"></a>
                     </div>
                 </div>
                 <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-development wow fadeInUp" data-wow-duration="2s"
                      data-wow-delay="0.6s">
                     <div class="relative">
                         <div class="thumb">
                             <div class="overlay overlay-bg"></div>
                             <img class="image img-fluid" src="img/work/w6.jpg" alt="">
                         </div>
                         <div class="middle">
                             <h4>2D Vinyl Design</h4>
                             <div class="cat">Client Project</div>
                         </div>
                         <a class="overlay" href="portfolio-details.html"></a>
                     </div>
                 </div>
                 <div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
                     <div class="relative">
                         <div class="thumb">
                             <div class="overlay overlay-bg"></div>
                             <img class="image img-fluid" src="img/work/w4.jpg" alt="">
                         </div>
                         <div class="middle">
                             <h4>2D Vinyl Design</h4>
                             <div class="cat">Client Project</div>
                         </div>
                         <a class="overlay" href="portfolio-details.html"></a>
                     </div>
                 </div>
                 <div class="single-work col-lg-4 col-md-6 col-sm-12 all android wow fadeInUp" data-wow-duration="2s"
                      data-wow-delay="0.2s">
                     <div class="relative">
                         <div class="thumb">
                             <div class="overlay overlay-bg"></div>
                             <img class="image img-fluid" src="img/work/w5.jpg" alt="">
                         </div>
                         <div class="middle">
                             <h4>2D Vinyl Design</h4>
                             <div class="cat">Client Project</div>
                         </div>
                         <a class="overlay" href="portfolio-details.html"></a>
                     </div>
                 </div>-->
            </div>
        </div>
    </div>
</section>
<!-- End Work Area Area -->


<!-- Start Job History Area Area -->
<section class="job-area section-gap-top section-gap-bottom-90">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Job History</h2>
                    <p>I have had a sizable amount of work experience working with some of the most talented Android
                        developers. I have learned and grown a lot during that time and I am nowhere near done.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4> Trainee Software Developer</h4>
                            <p>Reverside</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Apr '17 to Jul '17">
                                <span>A</span><span>p</span><span>r</span>
                                <span>'</span><span>1</span><span>7</span>
                                <span>t</span><span>o</span>
                                <span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>7</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                        I got my first exposure to the industry working for this company based in Sandton South Africa.
                        I had to learn almost everything that is expected of a full stack developer in 3 months so that
                        I can get placed at a client. In the 3rd
                        month I got placed as an Android developer at one of SA's biggest Banks.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Junior Android Developer</h4>
                            <p>Reverside - Absa</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Jul '17 to Nov '18">
                                <span>J</span><span>u</span><span>l</span>
                                <span>'</span><span>1</span><span>7</span>
                                <span>t</span><span>o</span>
                                <span>N</span><span>o</span><span>v</span>
                                <span>'</span><span>1</span><span>8</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        I worked as a junior Android Native Mobile developer at Absa as a consultant from Reverside. I
                        gained a lot of knowledge from
                        very talented senior developers. We adhered to the agile approach to software development using
                        SCRUM. I later left Reverside and thus
                        had to leave Absa.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Developer at<br> & founder of Fidelitech</h4>
                            <p>Fidelitech</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Nov '18 to Present">
                                <span>N</span><span>o</span><span>v</span>
                                <span>'</span><span>1</span><span>8</span>
                                <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                        I started a software development company that specialises in mobile and web development. I
                        intend for the company to own software
                        for financial benefit as well as develop for partial ownership or for a price.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Android Developer</h4>
                            <p>DVT</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Feb '19 to Present">
                                <span>F</span><span>e</span><span>b</span>
                                <span>'</span><span>1</span><span>9</span>
                                <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        I joined DVT as an Android developer and spent some time on the 'bench' working on an in-house
                        App. I then joined Mukuru for a short-term contract. Once the contract had run its coarse, I was
                        on the bench for two months,
                        where I continued working on the Snowball app. Afterwhich I joined Standard bank for the
                        Debicheck project.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Android Developer</h4>
                            <p>DVT - Mukuru</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Apr '19 to Sep '19">
                                <span>A</span><span>p</span><span>r</span>
                                <span>'</span><span>1</span><span>9</span>
                                <span>t</span><span>o</span>
                                <span>S</span><span>e</span><span>p</span>
                                <span>'</span><span>1</span><span>9</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        I have been working at Mukuru based in Rosebank as a consultant Android developer from DVT.
                        We had to implement new features as well as provide maintenance to the existing features on the
                        company's 3-app suite.
                        I got to work on both Java and Kotlin.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-job">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Android Developer</h4>
                            <p>DVT - Standard Bank</p>
                        </div>
                        <div class="top-right">
                            <a href="#" class="primary-btn" data-text="Nov '19 to Present">
                                <span>N</span><span>o</span><span>v</span>
                                <span>'</span><span>1</span><span>9</span>
                                <span>t</span><span>o</span>
                                <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span>
                            </a>
                        </div>
                    </div>
                    <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        In November I joined Standard Bank to form what was meant to be a two-man dev team for the
                        Android
                        version of the new Debicheck feature. I was the only developer for the first 3 months. I had to
                        come up with
                        the architectural approach to the solution to the problem. This has lead to an immense amount of
                        growth on my part.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Job History Area Area -->


<!-- Start Service Area -->
<section class="service-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Service Offers</h2>
                    <p>I, as part of FideliTech, offer a number of software development services mentioned below.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <span class="lnr lnr-laptop-phone"></span>
                    <h4><span>Application</span> Development
                    </h4>
                    <p>If you’re looking for mobile apps...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <span class="lnr lnr-database"></span>
                    <h4><span>Web</span> Development
                    </h4>
                    <p>Or if you’re looking for web development...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s">
                    <span class="lnr lnr-screen"></span>
                    <h4>
                        <span>Web</span> Design
                    </h4>
                    <p>Or if you’re looking for Website design...</p>
                </div>
            </div>
        </div>
        <p><br><br><strong>Do not hesitate to contact</strong></p>
    </div>
</section>
<!-- End Service Area -->

<!-- Start skills Area -->
<section class="testimonials_area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>My Skills</h2>
                    <p>This is my valuation of the my skills and abilities from my industry exposure.</p>
                </div>
            </div>
        </div>
        <div class="testi_slider owl-carousel">
            <div class="item">
                <div class="testi_item">
                    <img style="width: 40px" src="/img/quote.png" alt="">
                    <br>
                    <br>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <table class="skills">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>OOP</td>
                                            <td>🌕🌕🌕🌕🌗</td>
                                        </tr>
                                        <tr>
                                            <td>Scrum</td>
                                            <td>🌕🌕🌕🌕🌗</td>
                                        </tr>
                                        <tr>
                                            <td>MVP Pattern</td>
                                            <td>🌕🌕🌕🌕🌗</td>
                                        </tr>
                                        <tr>
                                            <td>MVVM Pattern</td>
                                            <td>🌕🌕🌕🌖🌑</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>CSS</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>HTML</td>
                                            <td>🌕🌕🌕🌕🌗</td>
                                        </tr>
                                        <tr>
                                            <td>MVC Pattern</td>
                                            <td>🌕🌕🌕🌕🌘</td>
                                        </tr>
                                        <tr>
                                            <td>Web Development</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <img style="width: 40px" src="/img/quote.png" alt="">
                    <br>
                    <br>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <table class="skills">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Java</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Android</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Kotlin</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Flutter</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>

                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Javascript</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Bootstrap</td>
                                            <td>🌕🌕🌕🌕🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Firebase</td>
                                            <td>🌕🌕🌕🌗🌑</td>
                                        </tr>
                                        <tr>
                                            <td>Comand-Line Interface</td>
                                            <td>🌕🌕🌑🌑🌑</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->


<!-- Start Contact Area -->
<section class="contact-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-title">
                    <h2>Contact Me</h2>
                    <p>If you are looking for a website or mobile app development, don't hesitate to contact me</p>
                </div>
            </div>
        </div>

        <div class="row mt-80">
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>078 071 2536</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>simonyathi1@gmail.com</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>078 773 5648</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/contact" class="primary-btn mt-50" data-text="Hire Me">
                    <span>H</span>
                    <span>i</span>
                    <span>r</span>
                    <span>e</span>
                    <span> </span>
                    <span>M</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->