<div class="container" style="text-align:center;">
    <h1>Your message was sent</h1>

    <a href="/contact">
        <button class="primary-btn re_send" type="submit" style="margin-top: 60px;" data-text="Send Another">
            <span>C</span>
            <span>o</span>
            <span>n</span>
            <span>t</span>
            <span>a</span>
            <span>c</span>
            <span>t</span>
            <span> </span>
            <span>M</span>
            <span>e</span>
        </button>
    </a>
</div>