<!-- Start Header Area -->
<header id="header" class="dark">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="/"><img class="logo" src="/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container" class="ml-auto">
                <ul class="nav-menu white">
                    <li class=""><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li class="menu-has-children"><a class="active" href="#">Pages</a>
                        <ul class="dark">
                            <!--								<li><a href="elements.html">Elements</a></li>-->
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/services">Service</a></li>
                            <li><a class="active" href="/portfolio-details">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <!--						<li class="menu-has-children"><a href="">Blog</a>-->
                    <!--							<ul class="dark">-->
                    <!--								<li><a href="blog-home.html">Blog Home</a></li>-->
                    <!--								<li><a href="blog-single.html">Blog Single</a></li>-->
                    <!--							</ul>-->
                    <!--						</li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="banner-area relative">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Portfolio Details
                </h1>
                <p class="link-nav">
						<span class="box">
							<a href="/">Home </a>
							<a href="/portfolio">Portfolio</a>
                            <!--							<a href="portfolio-details.html">Portfolio Details</a>-->
					</span>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Portfolio Details Area -->
<section class="portfolio_details_area section-gap">
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-md-6">
                    <div class="left_img">
                        <img class="img-fluid" src="/img/work/w1.jpg" alt="">
                    </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <div class="portfolio_right_text mt-30">
                        <h4>ScanAir for Android</h4>
                        <p>ScanAir is an Android mobile app that is used for scanning airtime and recharging on click of
                            the scanned number without manually entering the individual digits</p>
                        <ul class="list">
                            <li><span>Rating</span>: 🌕🌕🌕🌕🌗</li>
                            <li><span>Client</span>: Fidelitech</li>
                            <li><span>Website</span>: comingsoon.com</li>
                            <li><span>Published</span>: 31 March 2019</li>
                            <li><span>Link</span>:<a
                                    href="https://play.google.com/store/apps/details?id=com.fidelitech.co.scan_air">ScanAir
                                on Android</a></li>
                        </ul>
                        <!--                        <ul class="list social_details">-->
                        <!--                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                        <!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <!--                            <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                        <!--                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                        <!--                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
            <p>ScanAir is privately owned by my company FideliTech and that of Themba my partner in this venture. The
                aim is for it to make money and currently the business model is ad-centric. That being said, we will be
                adding more functionality to entice the major software providers so that they could potentially buy this
                software.</p>
            <p>The functionality of the app is not limited to the scanning of airtime but also provides the ability to
                send call-me-backs by selecting the intended recipient from a list of contacts. It also has access to
                the menu ussd codes together with balance check to name a few.</p>
            <p>We have tried to make it handy by adding emergency contact details that are accessible and trigger calls
                on click of the emergency number. This is a feature that can really come in handy we believe</p>
        </div>
    </div>
</section>
<!-- End Portfolio Details Area -->


<!-- Start Contact Area -->
<section class="contact-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-title">
                    <h2>Contact Me</h2>
                    <p>If you are looking for a website or mobile app development, don't hesitate to contact me</p>
                </div>
            </div>
        </div>

        <div class="row mt-80">
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>078 071 2536</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>simonyathi1@gmail.com</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="contact-box">
                    <h4>078 773 5648</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/contact" class="primary-btn mt-50" data-text="Hire Me">
                    <span>H</span>
                    <span>i</span>
                    <span>r</span>
                    <span>e</span>
                    <span> </span>
                    <span>M</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->