<div class="container">
    <h1>Portfolio page</h1>

    <div class="row">
        <div class="col-sm-4">
            <img src="/images/hills.jpg" class="img-responsive">
        </div>
         <div class="col-sm-4">
            <img src="/images/nyathi.jpg" class="img-responsive">
        </div>
         <div class="col-sm-4">
            <img src="/images/driver.jpg" class="img-responsive">
        </div>
         <div class="col-sm-4">
            <img src="/images/image.jpeg" class="img-responsive">
        </div>
    </div>
</div>